body{
    font-size: 16px;
    font-family: 'DejaVu Sans', sans-serif;
    background: purple;
    position: relative;
}

header{
    width: 100%;
    height: 35px;
    background: #233d58;
    position:relative;
    z-index: 999;
}

header h1{
    display: none;
}

header nav .ioMenuMovil{
    height: 25px;
    width: 120px;
    cursor: pointer;
    line-height: 40px;
    margin: 0px 0px 0px 10px;
    padding-top: 5px;
}
header nav .ioMenuMovil img{
    height: 100%;
}

header nav #card_menu{
    display: none;
    position: relative;
    width: 230px;
    background: white;
    top: -30px;
    left: 0px;
    border-right: 3px solid #AFAEAE;
    z-index: 999;
    padding-bottom: 50px;
}

header nav #card_menu #logo_menu{
    height: 200px;
    width: 80%;
    margin: 30px 0px;
    margin-left: 10%;
    margin-bottom: 50px;

}

header nav #card_menu #logo_menu img{
    width: 100%;
}

header nav #card_menu ul{
    margin-top: -20px;
}
header nav #card_menu ul li{
    list-style: none;
    font-size: 1.5em;
    line-height: 37px;
}

header nav #card_menu ul li a{
    text-decoration: none;
    color: black;
}

header #prev_section,
header #next_section{
    width: 25px;
    height: 25px;
    cursor:pointer;
    margin: 5px;
    position: absolute;
    top:0px;
    overflow: hidden;
}

header #prev_section{
    right:35px;
}

header #next_section{
    right: 5px;
}

header #prev_section img,
header #next_section img{
   width: 250%;
    top: -19px;
    left: -19px;
    position:relative;
}

header #next_section img{
    transform: rotate(180deg);
}

#slider{
    width: 100%;
    position: relative;
    height: 600px;
}

#slider section.slide{
    position: absolute;
    width: 100%;
    top: -17px;
    left: 0px;
}

#slider #home{
    background: #233d58;
    font-family: 'aller';
    position: relative;
    text-align: center;
    padding-bottom: 50px;

}

#slider #home .mainanimation{
    background: red;
    width: 80%;
    margin-left: 10%;
    min-height: 300px;
    position: absolute;
}

#slider #home .mainlogo{
    background: none;
    position: relative;
    width: 60vw;
    margin-left: 20vw;
    min-height: 430px;
}

#slider #home .mainlogo h2{
    font-size: 1.2em;
    padding-top: 80px;
    color: white;
    font-weight: lighter;
}

#slider #home .mainlogo strong{
    font-size: 2em;
    font-family: 'aldo';
    display: block;
}

#slider #home .mainlogo figure,
#slider #home .mainlogo figure img{
    width: 100%;
    margin: 0px;
}

#slider #home .buttonspage{
    width: 100%;
    text-align: center;
}

#slider #home .buttonspage > *{
    display: inline-block;
    width: 40%;
    margin: 5px 2.5%;
    color: #fff;
    padding: 15px 2.5%;
}

#slider #home #contratame{
    cursor: pointer;
    background: #F8931F;
}

#slider #home a{
    text-decoration: none;
    background: #29abe2;
}


#slider #aboutme{
    height: 400px;
    background: yellow;
}
#slider #skills{
    height: 300px;
    background: red;
}
#slider #portafolio{
    height: 200px;
    background: blue;
}
#slider #blog{
    height: 100px;
    background: purple;
}



#contact_form{
    position: absolute;
    right: 0px;
    top: 35px;
    background: white;
    width: 250px;

    border-top: 1px solid black;
    box-shadow: 0px 0px 3px #9F9E9E;
    font-family: 'aller';
    height: 100vh;
    z-index: 999;
    display: none;
}
#contact_form #close_form{
    position: absolute;
    width: 30px;
    height: 30px;
    left:85%;
    top:190px;
}
#contact_form #close_form:hover{
    cursor: pointer;
}

#contact_form #close_form:before{
    font-family: 'icomoon';
    content: "\ea0f";
    top: 5px;
    position: relative;
    left:7px;
}

#contact_form figure{
    height: 180px;
    width: 100%;
    margin: 0px;
    text-align: center;
    background: #29abe2;
}

#contact_form figure img{
    height: 100%;
    margin: 0px;
}

#contact_form p{
    margin: 20px;
    width: 90%;
    margin-left: 5%;
}

#contact_form input,
#contact_form textarea{
    display: block;
    margin: 20px;
    border: none;
    border-bottom: 2px solid gray;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 3px;
    margin-bottom: 50px;
    font-weight: bold;
}

#contact_form #button{
    background: #f8931f;
    color: white;
    border:none;
    padding: 8px 0px;
    border-radius: 5px;
}

#contact_button{
    width: 60px;
    height: 60px;
    background: #f8931f;
    border-radius: 50%;
    color: white;
    z-index: 80;
    right: 10px;
    position: fixed;
    top: 80vh;
}

#contact_button:hover{
    cursor: pointer;
}

#contact_button:before{
    font-family: 'icomoon';
    content: "\e923";
    position:relative;
    font-size: 2.5em;
    top: 6px;
    left: 12px;
}

footer{
    width: 100%;
    background: black;
    color: #fff;
    text-align: center;
    z-index: 90;
}

@media screen and (min-width: 480px){

    #slider #home .mainlogo{
        width: 270px;
        left: 50%;
        margin-left: -135px;
        padding-bottom: 50px;
    }
    #slider #home .mainlogo h2{
        font-size: 1.4em;
    }

    #slider #home .mainlogo figure{
        width: 80%;
        margin-left: 10%;
    }
    #slider #home .buttonspage > * {
        width: 200px;
    }
}

@media screen and (min-width: 600px){
    body{
        background: orange;
    }
}

@media screen and (min-width: 767px){
    body{
        background: yellow;
    }
    header {
        height: 50px;
    }

    header h1{
        display: inline-block; !important;
        width: 20%;
        margin: 0px;
        height: 50px;
        margin-left: 80px;
        line-height: 50px;
        min-width: 200px;
    }

    header h1 > *{
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color:white;
        font-size: 0.8em;
        margin:0px 3px;

    }

    header h1 figure{
        height: 40px;
        width: 40px;
        margin: 0px;
    }

    header h1 figure img{
        width: 100%;
    }

    header h1 a{
        font-size: 0.6em;
    }

    header nav {
        display:inline-block;
        vertical-align: middle;
        width: 62%;
        position:relative;
    }

    header nav #showMenu,
    header nav #hideMenu{
        display: none;
    }

    header nav #card_menu{
        display: inline-block;
        border: none;
        background: none;
        position: relative;
        top: 0px;
        width: 100%;
        text-align: right;
        padding-bottom: 0px;
    }

    header nav #card_menu figure{
        display: none;
    }

    header nav #card_menu ul{
        padding: 0px;
        margin: 0px;
        margin-top: -15px;
    }

    header nav #card_menu ul li{
        display: inline-block;
        width: 72px;
        text-align: center;
        font-size: 1.0em;
        margin: 0px -2px;
    }

    header nav #card_menu ul li a{
        color: white;
    }


    header #prev_section,
    header #next_section{
        position: absolute;
        width: 50px;
        height: 50px;
        background: #29abe2;
        right: 40px;
        z-index: 999;
        border-radius: 50%;
    }

    header #prev_section{
        top:115px;
    }

    header #next_section{
        top: 190px;
    }

    header #prev_section img,
    header #next_section img{
        width: 100%;
        top: 0;
        left: 0;
    }

    #contact_form{
        top:50px;
        width: 400px;
    }

    #contact_button{
        right: 41px;
    }
}

@media screen and (min-width:  950px){
    body{
        background: green;
    }
}